<!DOCTYPE html>
<html>
  <head>
    <title>Template Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
  </head>

  <body>

  <div class="header">
    <h2>Template Page </h2>
  </div>

  <div class="contents">
    Hello World!
  </div>

  <div class="footer">
  </div>

  <!-- require.js -->
  <script data-main="/scripts/main" src="../scripts/bower_components/requirejs/require.js"></script>
  </body>
</html>
