<!DOCTYPE html>
<html>
  <head>
    <title>Simple Web App Boilerplate</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
  </head>

  <body>

  <div class="header horz-align">
    <h2>Backbone-Marionette, Node/Express based web app boilerplate </h2>
  </div>

  <div class="contents horz-align">
    <section class="test-section-1"></section>
    <section class="test-section-2"></section>
    <button class="readme">Quick Tour</button>
    <button class="eventTrigger">Trigger a Event</button>
  </div>

  <div class="footer">
  </div>

  <!-- require.js -->
  <script data-main="/scripts/main" src="../scripts/bower_components/requirejs/require.js"></script>
  </body>
</html>
