.ft-50 {
  font-size: 50px;
}

.ft-20 {
  font-size: 20px;
}

.ft-light {
  font-family: "Helvetica Neue Light";
}

.ft-thin {
  font-weight: 200;
}

.ft-montez {
  font-family: 'Montez', cursive;
}

.ft-darkgrey {
  color: rgb(49, 43, 46);
}

.ft-shadow {
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.7);
}
