.bg-white {
  background-color: white;
}

.ft-50 {
  font-size: 50px;
}

.ft-20 {
  font-size: 20px;
}

.ft-light {
  font-family: "Helvetica Neue Light";
}

.ft-thin {
  font-weight: 200;
}

.ft-montez {
  font-family: 'Montez', cursive;
}

.ft-darkgrey {
  color: #312b2e;
}

.ft-shadow {
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.7);
}

.zoomTiltFade {
  -webkit-animation: zoomTiltAndFade 3s;
  animation: zoomTiltAndFade 3s;
}

.tiltFade {
  -webkit-animation: tiltAndFade 3s;
  animation: tiltAndFade 3s;
}

@-webkit-keyframes tiltAndFade {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 0;
    opacity: 1;
  }

  40% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
    border-radius: 0;
  }

  70% {
    opacity: 1;
    border-radius: 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
    border-radius: 100%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes tiltAndFade {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 0;
    opacity: 1;
  }

  40% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
    border-radius: 0;
  }

  70% {
    opacity: 1;
    border-radius: 100%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
    border-radius: 100%;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes zoomTiltAndFade {
  0% {
    border-radius: 0;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  10% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  20% {
    -webkit-transform: rotate(2deg) scale(1.1, 1.1);
    transform: rotate(2deg) scale(1.1, 1.1);
  }

  30% {
    -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
    transform: rotate(-2deg) scale(1.1, 1.1);
  }

  40% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  55% {
    opacity: 1;
    border-radius: 0;
  }

  70% {
    border-radius: 100%;
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
    border-radius: 100%;
  }
}

@keyframes zoomTiltAndFade {
  0% {
    border-radius: 0;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  10% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  20% {
    -webkit-transform: rotate(2deg) scale(1.1, 1.1);
    -ms-transform: rotate(2deg) scale(1.1, 1.1);
    transform: rotate(2deg) scale(1.1, 1.1);
  }

  30% {
    -webkit-transform: rotate(-2deg) scale(1.1, 1.1);
    -ms-transform: rotate(-2deg) scale(1.1, 1.1);
    transform: rotate(-2deg) scale(1.1, 1.1);
  }

  40% {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  55% {
    opacity: 1;
    border-radius: 0;
  }

  70% {
    border-radius: 100%;
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
    border-radius: 100%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  -webkit-animation: fadeIn 2s ease-in;
  animation: fadeIn 2s ease-in;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rot-1 {
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

.rot-2 {
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.rot-3 {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.rot-4 {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.rot-5 {
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

.rot-6 {
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}

.rot-7 {
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}

.rot-8 {
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}

.rot-9 {
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}

.rot-10 {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.rot-11 {
  -webkit-transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  transform: rotate(11deg);
}

.rot-12 {
  -webkit-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
}

.rot-13 {
  -webkit-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  transform: rotate(13deg);
}

.rot-14 {
  -webkit-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  transform: rotate(14deg);
}

.rot-15 {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.rot-16 {
  -webkit-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  transform: rotate(16deg);
}

.rot-17 {
  -webkit-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  transform: rotate(17deg);
}

.rot-18 {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}

.rot-19 {
  -webkit-transform: rotate(19deg);
  -ms-transform: rotate(19deg);
  transform: rotate(19deg);
}

.rot-20 {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.rot-21 {
  -webkit-transform: rotate(21deg);
  -ms-transform: rotate(21deg);
  transform: rotate(21deg);
}

.rot-22 {
  -webkit-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  transform: rotate(22deg);
}

.rot-23 {
  -webkit-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  transform: rotate(23deg);
}

.rot-24 {
  -webkit-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg);
}

.rot-25 {
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}

.rot-26 {
  -webkit-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  transform: rotate(26deg);
}

.rot-27 {
  -webkit-transform: rotate(27deg);
  -ms-transform: rotate(27deg);
  transform: rotate(27deg);
}

.rot-28 {
  -webkit-transform: rotate(28deg);
  -ms-transform: rotate(28deg);
  transform: rotate(28deg);
}

.rot-29 {
  -webkit-transform: rotate(29deg);
  -ms-transform: rotate(29deg);
  transform: rotate(29deg);
}

.rot-30 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.rot-31 {
  -webkit-transform: rotate(31deg);
  -ms-transform: rotate(31deg);
  transform: rotate(31deg);
}

.rot-32 {
  -webkit-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  transform: rotate(32deg);
}

.rot-33 {
  -webkit-transform: rotate(33deg);
  -ms-transform: rotate(33deg);
  transform: rotate(33deg);
}

.rot-34 {
  -webkit-transform: rotate(34deg);
  -ms-transform: rotate(34deg);
  transform: rotate(34deg);
}

.rot-35 {
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

.rot-36 {
  -webkit-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
}

.rot-37 {
  -webkit-transform: rotate(37deg);
  -ms-transform: rotate(37deg);
  transform: rotate(37deg);
}

.rot-38 {
  -webkit-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  transform: rotate(38deg);
}

.rot-39 {
  -webkit-transform: rotate(39deg);
  -ms-transform: rotate(39deg);
  transform: rotate(39deg);
}

.rot-40 {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.rot-41 {
  -webkit-transform: rotate(41deg);
  -ms-transform: rotate(41deg);
  transform: rotate(41deg);
}

.rot-42 {
  -webkit-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(42deg);
}

.rot-43 {
  -webkit-transform: rotate(43deg);
  -ms-transform: rotate(43deg);
  transform: rotate(43deg);
}

.rot-44 {
  -webkit-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  transform: rotate(44deg);
}

.rot-45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rot-46 {
  -webkit-transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  transform: rotate(46deg);
}

.rot-47 {
  -webkit-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  transform: rotate(47deg);
}

.rot-48 {
  -webkit-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  transform: rotate(48deg);
}

.rot-49 {
  -webkit-transform: rotate(49deg);
  -ms-transform: rotate(49deg);
  transform: rotate(49deg);
}

.rot-50 {
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}

.rot-51 {
  -webkit-transform: rotate(51deg);
  -ms-transform: rotate(51deg);
  transform: rotate(51deg);
}

.rot-52 {
  -webkit-transform: rotate(52deg);
  -ms-transform: rotate(52deg);
  transform: rotate(52deg);
}

.rot-53 {
  -webkit-transform: rotate(53deg);
  -ms-transform: rotate(53deg);
  transform: rotate(53deg);
}

.rot-54 {
  -webkit-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  transform: rotate(54deg);
}

.rot-55 {
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
}

.rot-56 {
  -webkit-transform: rotate(56deg);
  -ms-transform: rotate(56deg);
  transform: rotate(56deg);
}

.rot-57 {
  -webkit-transform: rotate(57deg);
  -ms-transform: rotate(57deg);
  transform: rotate(57deg);
}

.rot-58 {
  -webkit-transform: rotate(58deg);
  -ms-transform: rotate(58deg);
  transform: rotate(58deg);
}

.rot-59 {
  -webkit-transform: rotate(59deg);
  -ms-transform: rotate(59deg);
  transform: rotate(59deg);
}

.rot-60 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.rot-61 {
  -webkit-transform: rotate(61deg);
  -ms-transform: rotate(61deg);
  transform: rotate(61deg);
}

.rot-62 {
  -webkit-transform: rotate(62deg);
  -ms-transform: rotate(62deg);
  transform: rotate(62deg);
}

.rot-63 {
  -webkit-transform: rotate(63deg);
  -ms-transform: rotate(63deg);
  transform: rotate(63deg);
}

.rot-64 {
  -webkit-transform: rotate(64deg);
  -ms-transform: rotate(64deg);
  transform: rotate(64deg);
}

.rot-65 {
  -webkit-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  transform: rotate(65deg);
}

.rot-66 {
  -webkit-transform: rotate(66deg);
  -ms-transform: rotate(66deg);
  transform: rotate(66deg);
}

.rot-67 {
  -webkit-transform: rotate(67deg);
  -ms-transform: rotate(67deg);
  transform: rotate(67deg);
}

.rot-68 {
  -webkit-transform: rotate(68deg);
  -ms-transform: rotate(68deg);
  transform: rotate(68deg);
}

.rot-69 {
  -webkit-transform: rotate(69deg);
  -ms-transform: rotate(69deg);
  transform: rotate(69deg);
}

.rot-70 {
  -webkit-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  transform: rotate(70deg);
}

.rot-71 {
  -webkit-transform: rotate(71deg);
  -ms-transform: rotate(71deg);
  transform: rotate(71deg);
}

.rot-72 {
  -webkit-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg);
}

.rot-73 {
  -webkit-transform: rotate(73deg);
  -ms-transform: rotate(73deg);
  transform: rotate(73deg);
}

.rot-74 {
  -webkit-transform: rotate(74deg);
  -ms-transform: rotate(74deg);
  transform: rotate(74deg);
}

.rot-75 {
  -webkit-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  transform: rotate(75deg);
}

.rot-76 {
  -webkit-transform: rotate(76deg);
  -ms-transform: rotate(76deg);
  transform: rotate(76deg);
}

.rot-77 {
  -webkit-transform: rotate(77deg);
  -ms-transform: rotate(77deg);
  transform: rotate(77deg);
}

.rot-78 {
  -webkit-transform: rotate(78deg);
  -ms-transform: rotate(78deg);
  transform: rotate(78deg);
}

.rot-79 {
  -webkit-transform: rotate(79deg);
  -ms-transform: rotate(79deg);
  transform: rotate(79deg);
}

.rot-80 {
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
}

.rot-81 {
  -webkit-transform: rotate(81deg);
  -ms-transform: rotate(81deg);
  transform: rotate(81deg);
}

.rot-82 {
  -webkit-transform: rotate(82deg);
  -ms-transform: rotate(82deg);
  transform: rotate(82deg);
}

.rot-83 {
  -webkit-transform: rotate(83deg);
  -ms-transform: rotate(83deg);
  transform: rotate(83deg);
}

.rot-84 {
  -webkit-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  transform: rotate(84deg);
}

.rot-85 {
  -webkit-transform: rotate(85deg);
  -ms-transform: rotate(85deg);
  transform: rotate(85deg);
}

.rot-86 {
  -webkit-transform: rotate(86deg);
  -ms-transform: rotate(86deg);
  transform: rotate(86deg);
}

.rot-87 {
  -webkit-transform: rotate(87deg);
  -ms-transform: rotate(87deg);
  transform: rotate(87deg);
}

.rot-88 {
  -webkit-transform: rotate(88deg);
  -ms-transform: rotate(88deg);
  transform: rotate(88deg);
}

.rot-89 {
  -webkit-transform: rotate(89deg);
  -ms-transform: rotate(89deg);
  transform: rotate(89deg);
}

.rot-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rot-91 {
  -webkit-transform: rotate(91deg);
  -ms-transform: rotate(91deg);
  transform: rotate(91deg);
}

.rot-92 {
  -webkit-transform: rotate(92deg);
  -ms-transform: rotate(92deg);
  transform: rotate(92deg);
}

.rot-93 {
  -webkit-transform: rotate(93deg);
  -ms-transform: rotate(93deg);
  transform: rotate(93deg);
}

.rot-94 {
  -webkit-transform: rotate(94deg);
  -ms-transform: rotate(94deg);
  transform: rotate(94deg);
}

.rot-95 {
  -webkit-transform: rotate(95deg);
  -ms-transform: rotate(95deg);
  transform: rotate(95deg);
}

.rot-96 {
  -webkit-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  transform: rotate(96deg);
}

.rot-97 {
  -webkit-transform: rotate(97deg);
  -ms-transform: rotate(97deg);
  transform: rotate(97deg);
}

.rot-98 {
  -webkit-transform: rotate(98deg);
  -ms-transform: rotate(98deg);
  transform: rotate(98deg);
}

.rot-99 {
  -webkit-transform: rotate(99deg);
  -ms-transform: rotate(99deg);
  transform: rotate(99deg);
}

.rot-100 {
  -webkit-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  transform: rotate(100deg);
}

.rot-101 {
  -webkit-transform: rotate(101deg);
  -ms-transform: rotate(101deg);
  transform: rotate(101deg);
}

.rot-102 {
  -webkit-transform: rotate(102deg);
  -ms-transform: rotate(102deg);
  transform: rotate(102deg);
}

.rot-103 {
  -webkit-transform: rotate(103deg);
  -ms-transform: rotate(103deg);
  transform: rotate(103deg);
}

.rot-104 {
  -webkit-transform: rotate(104deg);
  -ms-transform: rotate(104deg);
  transform: rotate(104deg);
}

.rot-105 {
  -webkit-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  transform: rotate(105deg);
}

.rot-106 {
  -webkit-transform: rotate(106deg);
  -ms-transform: rotate(106deg);
  transform: rotate(106deg);
}

.rot-107 {
  -webkit-transform: rotate(107deg);
  -ms-transform: rotate(107deg);
  transform: rotate(107deg);
}

.rot-108 {
  -webkit-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  transform: rotate(108deg);
}

.rot-109 {
  -webkit-transform: rotate(109deg);
  -ms-transform: rotate(109deg);
  transform: rotate(109deg);
}

.rot-110 {
  -webkit-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  transform: rotate(110deg);
}

.rot-111 {
  -webkit-transform: rotate(111deg);
  -ms-transform: rotate(111deg);
  transform: rotate(111deg);
}

.rot-112 {
  -webkit-transform: rotate(112deg);
  -ms-transform: rotate(112deg);
  transform: rotate(112deg);
}

.rot-113 {
  -webkit-transform: rotate(113deg);
  -ms-transform: rotate(113deg);
  transform: rotate(113deg);
}

.rot-114 {
  -webkit-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  transform: rotate(114deg);
}

.rot-115 {
  -webkit-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  transform: rotate(115deg);
}

.rot-116 {
  -webkit-transform: rotate(116deg);
  -ms-transform: rotate(116deg);
  transform: rotate(116deg);
}

.rot-117 {
  -webkit-transform: rotate(117deg);
  -ms-transform: rotate(117deg);
  transform: rotate(117deg);
}

.rot-118 {
  -webkit-transform: rotate(118deg);
  -ms-transform: rotate(118deg);
  transform: rotate(118deg);
}

.rot-119 {
  -webkit-transform: rotate(119deg);
  -ms-transform: rotate(119deg);
  transform: rotate(119deg);
}

.rot-120 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.rot-121 {
  -webkit-transform: rotate(121deg);
  -ms-transform: rotate(121deg);
  transform: rotate(121deg);
}

.rot-122 {
  -webkit-transform: rotate(122deg);
  -ms-transform: rotate(122deg);
  transform: rotate(122deg);
}

.rot-123 {
  -webkit-transform: rotate(123deg);
  -ms-transform: rotate(123deg);
  transform: rotate(123deg);
}

.rot-124 {
  -webkit-transform: rotate(124deg);
  -ms-transform: rotate(124deg);
  transform: rotate(124deg);
}

.rot-125 {
  -webkit-transform: rotate(125deg);
  -ms-transform: rotate(125deg);
  transform: rotate(125deg);
}

.rot-126 {
  -webkit-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  transform: rotate(126deg);
}

.rot-127 {
  -webkit-transform: rotate(127deg);
  -ms-transform: rotate(127deg);
  transform: rotate(127deg);
}

.rot-128 {
  -webkit-transform: rotate(128deg);
  -ms-transform: rotate(128deg);
  transform: rotate(128deg);
}

.rot-129 {
  -webkit-transform: rotate(129deg);
  -ms-transform: rotate(129deg);
  transform: rotate(129deg);
}

.rot-130 {
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  transform: rotate(130deg);
}

.rot-131 {
  -webkit-transform: rotate(131deg);
  -ms-transform: rotate(131deg);
  transform: rotate(131deg);
}

.rot-132 {
  -webkit-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  transform: rotate(132deg);
}

.rot-133 {
  -webkit-transform: rotate(133deg);
  -ms-transform: rotate(133deg);
  transform: rotate(133deg);
}

.rot-134 {
  -webkit-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  transform: rotate(134deg);
}

.rot-135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.rot-136 {
  -webkit-transform: rotate(136deg);
  -ms-transform: rotate(136deg);
  transform: rotate(136deg);
}

.rot-137 {
  -webkit-transform: rotate(137deg);
  -ms-transform: rotate(137deg);
  transform: rotate(137deg);
}

.rot-138 {
  -webkit-transform: rotate(138deg);
  -ms-transform: rotate(138deg);
  transform: rotate(138deg);
}

.rot-139 {
  -webkit-transform: rotate(139deg);
  -ms-transform: rotate(139deg);
  transform: rotate(139deg);
}

.rot-140 {
  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
}

.rot-141 {
  -webkit-transform: rotate(141deg);
  -ms-transform: rotate(141deg);
  transform: rotate(141deg);
}

.rot-142 {
  -webkit-transform: rotate(142deg);
  -ms-transform: rotate(142deg);
  transform: rotate(142deg);
}

.rot-143 {
  -webkit-transform: rotate(143deg);
  -ms-transform: rotate(143deg);
  transform: rotate(143deg);
}

.rot-144 {
  -webkit-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  transform: rotate(144deg);
}

.rot-145 {
  -webkit-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  transform: rotate(145deg);
}

.rot-146 {
  -webkit-transform: rotate(146deg);
  -ms-transform: rotate(146deg);
  transform: rotate(146deg);
}

.rot-147 {
  -webkit-transform: rotate(147deg);
  -ms-transform: rotate(147deg);
  transform: rotate(147deg);
}

.rot-148 {
  -webkit-transform: rotate(148deg);
  -ms-transform: rotate(148deg);
  transform: rotate(148deg);
}

.rot-149 {
  -webkit-transform: rotate(149deg);
  -ms-transform: rotate(149deg);
  transform: rotate(149deg);
}

.rot-150 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.rot-151 {
  -webkit-transform: rotate(151deg);
  -ms-transform: rotate(151deg);
  transform: rotate(151deg);
}

.rot-152 {
  -webkit-transform: rotate(152deg);
  -ms-transform: rotate(152deg);
  transform: rotate(152deg);
}

.rot-153 {
  -webkit-transform: rotate(153deg);
  -ms-transform: rotate(153deg);
  transform: rotate(153deg);
}

.rot-154 {
  -webkit-transform: rotate(154deg);
  -ms-transform: rotate(154deg);
  transform: rotate(154deg);
}

.rot-155 {
  -webkit-transform: rotate(155deg);
  -ms-transform: rotate(155deg);
  transform: rotate(155deg);
}

.rot-156 {
  -webkit-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  transform: rotate(156deg);
}

.rot-157 {
  -webkit-transform: rotate(157deg);
  -ms-transform: rotate(157deg);
  transform: rotate(157deg);
}

.rot-158 {
  -webkit-transform: rotate(158deg);
  -ms-transform: rotate(158deg);
  transform: rotate(158deg);
}

.rot-159 {
  -webkit-transform: rotate(159deg);
  -ms-transform: rotate(159deg);
  transform: rotate(159deg);
}

.rot-160 {
  -webkit-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  transform: rotate(160deg);
}

.rot-161 {
  -webkit-transform: rotate(161deg);
  -ms-transform: rotate(161deg);
  transform: rotate(161deg);
}

.rot-162 {
  -webkit-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  transform: rotate(162deg);
}

.rot-163 {
  -webkit-transform: rotate(163deg);
  -ms-transform: rotate(163deg);
  transform: rotate(163deg);
}

.rot-164 {
  -webkit-transform: rotate(164deg);
  -ms-transform: rotate(164deg);
  transform: rotate(164deg);
}

.rot-165 {
  -webkit-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  transform: rotate(165deg);
}

.rot-166 {
  -webkit-transform: rotate(166deg);
  -ms-transform: rotate(166deg);
  transform: rotate(166deg);
}

.rot-167 {
  -webkit-transform: rotate(167deg);
  -ms-transform: rotate(167deg);
  transform: rotate(167deg);
}

.rot-168 {
  -webkit-transform: rotate(168deg);
  -ms-transform: rotate(168deg);
  transform: rotate(168deg);
}

.rot-169 {
  -webkit-transform: rotate(169deg);
  -ms-transform: rotate(169deg);
  transform: rotate(169deg);
}

.rot-170 {
  -webkit-transform: rotate(170deg);
  -ms-transform: rotate(170deg);
  transform: rotate(170deg);
}

.rot-171 {
  -webkit-transform: rotate(171deg);
  -ms-transform: rotate(171deg);
  transform: rotate(171deg);
}

.rot-172 {
  -webkit-transform: rotate(172deg);
  -ms-transform: rotate(172deg);
  transform: rotate(172deg);
}

.rot-173 {
  -webkit-transform: rotate(173deg);
  -ms-transform: rotate(173deg);
  transform: rotate(173deg);
}

.rot-174 {
  -webkit-transform: rotate(174deg);
  -ms-transform: rotate(174deg);
  transform: rotate(174deg);
}

.rot-175 {
  -webkit-transform: rotate(175deg);
  -ms-transform: rotate(175deg);
  transform: rotate(175deg);
}

.rot-176 {
  -webkit-transform: rotate(176deg);
  -ms-transform: rotate(176deg);
  transform: rotate(176deg);
}

.rot-177 {
  -webkit-transform: rotate(177deg);
  -ms-transform: rotate(177deg);
  transform: rotate(177deg);
}

.rot-178 {
  -webkit-transform: rotate(178deg);
  -ms-transform: rotate(178deg);
  transform: rotate(178deg);
}

.rot-179 {
  -webkit-transform: rotate(179deg);
  -ms-transform: rotate(179deg);
  transform: rotate(179deg);
}

.rot-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rot-181 {
  -webkit-transform: rotate(181deg);
  -ms-transform: rotate(181deg);
  transform: rotate(181deg);
}

.rot-182 {
  -webkit-transform: rotate(182deg);
  -ms-transform: rotate(182deg);
  transform: rotate(182deg);
}

.rot-183 {
  -webkit-transform: rotate(183deg);
  -ms-transform: rotate(183deg);
  transform: rotate(183deg);
}

.rot-184 {
  -webkit-transform: rotate(184deg);
  -ms-transform: rotate(184deg);
  transform: rotate(184deg);
}

.rot-185 {
  -webkit-transform: rotate(185deg);
  -ms-transform: rotate(185deg);
  transform: rotate(185deg);
}

.rot-186 {
  -webkit-transform: rotate(186deg);
  -ms-transform: rotate(186deg);
  transform: rotate(186deg);
}

.rot-187 {
  -webkit-transform: rotate(187deg);
  -ms-transform: rotate(187deg);
  transform: rotate(187deg);
}

.rot-188 {
  -webkit-transform: rotate(188deg);
  -ms-transform: rotate(188deg);
  transform: rotate(188deg);
}

.rot-189 {
  -webkit-transform: rotate(189deg);
  -ms-transform: rotate(189deg);
  transform: rotate(189deg);
}

.rot-190 {
  -webkit-transform: rotate(190deg);
  -ms-transform: rotate(190deg);
  transform: rotate(190deg);
}

.rot-191 {
  -webkit-transform: rotate(191deg);
  -ms-transform: rotate(191deg);
  transform: rotate(191deg);
}

.rot-192 {
  -webkit-transform: rotate(192deg);
  -ms-transform: rotate(192deg);
  transform: rotate(192deg);
}

.rot-193 {
  -webkit-transform: rotate(193deg);
  -ms-transform: rotate(193deg);
  transform: rotate(193deg);
}

.rot-194 {
  -webkit-transform: rotate(194deg);
  -ms-transform: rotate(194deg);
  transform: rotate(194deg);
}

.rot-195 {
  -webkit-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  transform: rotate(195deg);
}

.rot-196 {
  -webkit-transform: rotate(196deg);
  -ms-transform: rotate(196deg);
  transform: rotate(196deg);
}

.rot-197 {
  -webkit-transform: rotate(197deg);
  -ms-transform: rotate(197deg);
  transform: rotate(197deg);
}

.rot-198 {
  -webkit-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  transform: rotate(198deg);
}

.rot-199 {
  -webkit-transform: rotate(199deg);
  -ms-transform: rotate(199deg);
  transform: rotate(199deg);
}

.rot-200 {
  -webkit-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  transform: rotate(200deg);
}

.rot-201 {
  -webkit-transform: rotate(201deg);
  -ms-transform: rotate(201deg);
  transform: rotate(201deg);
}

.rot-202 {
  -webkit-transform: rotate(202deg);
  -ms-transform: rotate(202deg);
  transform: rotate(202deg);
}

.rot-203 {
  -webkit-transform: rotate(203deg);
  -ms-transform: rotate(203deg);
  transform: rotate(203deg);
}

.rot-204 {
  -webkit-transform: rotate(204deg);
  -ms-transform: rotate(204deg);
  transform: rotate(204deg);
}

.rot-205 {
  -webkit-transform: rotate(205deg);
  -ms-transform: rotate(205deg);
  transform: rotate(205deg);
}

.rot-206 {
  -webkit-transform: rotate(206deg);
  -ms-transform: rotate(206deg);
  transform: rotate(206deg);
}

.rot-207 {
  -webkit-transform: rotate(207deg);
  -ms-transform: rotate(207deg);
  transform: rotate(207deg);
}

.rot-208 {
  -webkit-transform: rotate(208deg);
  -ms-transform: rotate(208deg);
  transform: rotate(208deg);
}

.rot-209 {
  -webkit-transform: rotate(209deg);
  -ms-transform: rotate(209deg);
  transform: rotate(209deg);
}

.rot-210 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.rot-211 {
  -webkit-transform: rotate(211deg);
  -ms-transform: rotate(211deg);
  transform: rotate(211deg);
}

.rot-212 {
  -webkit-transform: rotate(212deg);
  -ms-transform: rotate(212deg);
  transform: rotate(212deg);
}

.rot-213 {
  -webkit-transform: rotate(213deg);
  -ms-transform: rotate(213deg);
  transform: rotate(213deg);
}

.rot-214 {
  -webkit-transform: rotate(214deg);
  -ms-transform: rotate(214deg);
  transform: rotate(214deg);
}

.rot-215 {
  -webkit-transform: rotate(215deg);
  -ms-transform: rotate(215deg);
  transform: rotate(215deg);
}

.rot-216 {
  -webkit-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  transform: rotate(216deg);
}

.rot-217 {
  -webkit-transform: rotate(217deg);
  -ms-transform: rotate(217deg);
  transform: rotate(217deg);
}

.rot-218 {
  -webkit-transform: rotate(218deg);
  -ms-transform: rotate(218deg);
  transform: rotate(218deg);
}

.rot-219 {
  -webkit-transform: rotate(219deg);
  -ms-transform: rotate(219deg);
  transform: rotate(219deg);
}

.rot-220 {
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
}

.rot-221 {
  -webkit-transform: rotate(221deg);
  -ms-transform: rotate(221deg);
  transform: rotate(221deg);
}

.rot-222 {
  -webkit-transform: rotate(222deg);
  -ms-transform: rotate(222deg);
  transform: rotate(222deg);
}

.rot-223 {
  -webkit-transform: rotate(223deg);
  -ms-transform: rotate(223deg);
  transform: rotate(223deg);
}

.rot-224 {
  -webkit-transform: rotate(224deg);
  -ms-transform: rotate(224deg);
  transform: rotate(224deg);
}

.rot-225 {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.rot-226 {
  -webkit-transform: rotate(226deg);
  -ms-transform: rotate(226deg);
  transform: rotate(226deg);
}

.rot-227 {
  -webkit-transform: rotate(227deg);
  -ms-transform: rotate(227deg);
  transform: rotate(227deg);
}

.rot-228 {
  -webkit-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  transform: rotate(228deg);
}

.rot-229 {
  -webkit-transform: rotate(229deg);
  -ms-transform: rotate(229deg);
  transform: rotate(229deg);
}

.rot-230 {
  -webkit-transform: rotate(230deg);
  -ms-transform: rotate(230deg);
  transform: rotate(230deg);
}

.rot-231 {
  -webkit-transform: rotate(231deg);
  -ms-transform: rotate(231deg);
  transform: rotate(231deg);
}

.rot-232 {
  -webkit-transform: rotate(232deg);
  -ms-transform: rotate(232deg);
  transform: rotate(232deg);
}

.rot-233 {
  -webkit-transform: rotate(233deg);
  -ms-transform: rotate(233deg);
  transform: rotate(233deg);
}

.rot-234 {
  -webkit-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  transform: rotate(234deg);
}

.rot-235 {
  -webkit-transform: rotate(235deg);
  -ms-transform: rotate(235deg);
  transform: rotate(235deg);
}

.rot-236 {
  -webkit-transform: rotate(236deg);
  -ms-transform: rotate(236deg);
  transform: rotate(236deg);
}

.rot-237 {
  -webkit-transform: rotate(237deg);
  -ms-transform: rotate(237deg);
  transform: rotate(237deg);
}

.rot-238 {
  -webkit-transform: rotate(238deg);
  -ms-transform: rotate(238deg);
  transform: rotate(238deg);
}

.rot-239 {
  -webkit-transform: rotate(239deg);
  -ms-transform: rotate(239deg);
  transform: rotate(239deg);
}

.rot-240 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.rot-241 {
  -webkit-transform: rotate(241deg);
  -ms-transform: rotate(241deg);
  transform: rotate(241deg);
}

.rot-242 {
  -webkit-transform: rotate(242deg);
  -ms-transform: rotate(242deg);
  transform: rotate(242deg);
}

.rot-243 {
  -webkit-transform: rotate(243deg);
  -ms-transform: rotate(243deg);
  transform: rotate(243deg);
}

.rot-244 {
  -webkit-transform: rotate(244deg);
  -ms-transform: rotate(244deg);
  transform: rotate(244deg);
}

.rot-245 {
  -webkit-transform: rotate(245deg);
  -ms-transform: rotate(245deg);
  transform: rotate(245deg);
}

.rot-246 {
  -webkit-transform: rotate(246deg);
  -ms-transform: rotate(246deg);
  transform: rotate(246deg);
}

.rot-247 {
  -webkit-transform: rotate(247deg);
  -ms-transform: rotate(247deg);
  transform: rotate(247deg);
}

.rot-248 {
  -webkit-transform: rotate(248deg);
  -ms-transform: rotate(248deg);
  transform: rotate(248deg);
}

.rot-249 {
  -webkit-transform: rotate(249deg);
  -ms-transform: rotate(249deg);
  transform: rotate(249deg);
}

.rot-250 {
  -webkit-transform: rotate(250deg);
  -ms-transform: rotate(250deg);
  transform: rotate(250deg);
}

.rot-251 {
  -webkit-transform: rotate(251deg);
  -ms-transform: rotate(251deg);
  transform: rotate(251deg);
}

.rot-252 {
  -webkit-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  transform: rotate(252deg);
}

.rot-253 {
  -webkit-transform: rotate(253deg);
  -ms-transform: rotate(253deg);
  transform: rotate(253deg);
}

.rot-254 {
  -webkit-transform: rotate(254deg);
  -ms-transform: rotate(254deg);
  transform: rotate(254deg);
}

.rot-255 {
  -webkit-transform: rotate(255deg);
  -ms-transform: rotate(255deg);
  transform: rotate(255deg);
}

.rot-256 {
  -webkit-transform: rotate(256deg);
  -ms-transform: rotate(256deg);
  transform: rotate(256deg);
}

.rot-257 {
  -webkit-transform: rotate(257deg);
  -ms-transform: rotate(257deg);
  transform: rotate(257deg);
}

.rot-258 {
  -webkit-transform: rotate(258deg);
  -ms-transform: rotate(258deg);
  transform: rotate(258deg);
}

.rot-259 {
  -webkit-transform: rotate(259deg);
  -ms-transform: rotate(259deg);
  transform: rotate(259deg);
}

.rot-260 {
  -webkit-transform: rotate(260deg);
  -ms-transform: rotate(260deg);
  transform: rotate(260deg);
}

.rot-261 {
  -webkit-transform: rotate(261deg);
  -ms-transform: rotate(261deg);
  transform: rotate(261deg);
}

.rot-262 {
  -webkit-transform: rotate(262deg);
  -ms-transform: rotate(262deg);
  transform: rotate(262deg);
}

.rot-263 {
  -webkit-transform: rotate(263deg);
  -ms-transform: rotate(263deg);
  transform: rotate(263deg);
}

.rot-264 {
  -webkit-transform: rotate(264deg);
  -ms-transform: rotate(264deg);
  transform: rotate(264deg);
}

.rot-265 {
  -webkit-transform: rotate(265deg);
  -ms-transform: rotate(265deg);
  transform: rotate(265deg);
}

.rot-266 {
  -webkit-transform: rotate(266deg);
  -ms-transform: rotate(266deg);
  transform: rotate(266deg);
}

.rot-267 {
  -webkit-transform: rotate(267deg);
  -ms-transform: rotate(267deg);
  transform: rotate(267deg);
}

.rot-268 {
  -webkit-transform: rotate(268deg);
  -ms-transform: rotate(268deg);
  transform: rotate(268deg);
}

.rot-269 {
  -webkit-transform: rotate(269deg);
  -ms-transform: rotate(269deg);
  transform: rotate(269deg);
}

.rot-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.rot-271 {
  -webkit-transform: rotate(271deg);
  -ms-transform: rotate(271deg);
  transform: rotate(271deg);
}

.rot-272 {
  -webkit-transform: rotate(272deg);
  -ms-transform: rotate(272deg);
  transform: rotate(272deg);
}

.rot-273 {
  -webkit-transform: rotate(273deg);
  -ms-transform: rotate(273deg);
  transform: rotate(273deg);
}

.rot-274 {
  -webkit-transform: rotate(274deg);
  -ms-transform: rotate(274deg);
  transform: rotate(274deg);
}

.rot-275 {
  -webkit-transform: rotate(275deg);
  -ms-transform: rotate(275deg);
  transform: rotate(275deg);
}

.rot-276 {
  -webkit-transform: rotate(276deg);
  -ms-transform: rotate(276deg);
  transform: rotate(276deg);
}

.rot-277 {
  -webkit-transform: rotate(277deg);
  -ms-transform: rotate(277deg);
  transform: rotate(277deg);
}

.rot-278 {
  -webkit-transform: rotate(278deg);
  -ms-transform: rotate(278deg);
  transform: rotate(278deg);
}

.rot-279 {
  -webkit-transform: rotate(279deg);
  -ms-transform: rotate(279deg);
  transform: rotate(279deg);
}

.rot-280 {
  -webkit-transform: rotate(280deg);
  -ms-transform: rotate(280deg);
  transform: rotate(280deg);
}

.rot-281 {
  -webkit-transform: rotate(281deg);
  -ms-transform: rotate(281deg);
  transform: rotate(281deg);
}

.rot-282 {
  -webkit-transform: rotate(282deg);
  -ms-transform: rotate(282deg);
  transform: rotate(282deg);
}

.rot-283 {
  -webkit-transform: rotate(283deg);
  -ms-transform: rotate(283deg);
  transform: rotate(283deg);
}

.rot-284 {
  -webkit-transform: rotate(284deg);
  -ms-transform: rotate(284deg);
  transform: rotate(284deg);
}

.rot-285 {
  -webkit-transform: rotate(285deg);
  -ms-transform: rotate(285deg);
  transform: rotate(285deg);
}

.rot-286 {
  -webkit-transform: rotate(286deg);
  -ms-transform: rotate(286deg);
  transform: rotate(286deg);
}

.rot-287 {
  -webkit-transform: rotate(287deg);
  -ms-transform: rotate(287deg);
  transform: rotate(287deg);
}

.rot-288 {
  -webkit-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  transform: rotate(288deg);
}

.rot-289 {
  -webkit-transform: rotate(289deg);
  -ms-transform: rotate(289deg);
  transform: rotate(289deg);
}

.rot-290 {
  -webkit-transform: rotate(290deg);
  -ms-transform: rotate(290deg);
  transform: rotate(290deg);
}

.rot-291 {
  -webkit-transform: rotate(291deg);
  -ms-transform: rotate(291deg);
  transform: rotate(291deg);
}

.rot-292 {
  -webkit-transform: rotate(292deg);
  -ms-transform: rotate(292deg);
  transform: rotate(292deg);
}

.rot-293 {
  -webkit-transform: rotate(293deg);
  -ms-transform: rotate(293deg);
  transform: rotate(293deg);
}

.rot-294 {
  -webkit-transform: rotate(294deg);
  -ms-transform: rotate(294deg);
  transform: rotate(294deg);
}

.rot-295 {
  -webkit-transform: rotate(295deg);
  -ms-transform: rotate(295deg);
  transform: rotate(295deg);
}

.rot-296 {
  -webkit-transform: rotate(296deg);
  -ms-transform: rotate(296deg);
  transform: rotate(296deg);
}

.rot-297 {
  -webkit-transform: rotate(297deg);
  -ms-transform: rotate(297deg);
  transform: rotate(297deg);
}

.rot-298 {
  -webkit-transform: rotate(298deg);
  -ms-transform: rotate(298deg);
  transform: rotate(298deg);
}

.rot-299 {
  -webkit-transform: rotate(299deg);
  -ms-transform: rotate(299deg);
  transform: rotate(299deg);
}

.rot-300 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.rot-301 {
  -webkit-transform: rotate(301deg);
  -ms-transform: rotate(301deg);
  transform: rotate(301deg);
}

.rot-302 {
  -webkit-transform: rotate(302deg);
  -ms-transform: rotate(302deg);
  transform: rotate(302deg);
}

.rot-303 {
  -webkit-transform: rotate(303deg);
  -ms-transform: rotate(303deg);
  transform: rotate(303deg);
}

.rot-304 {
  -webkit-transform: rotate(304deg);
  -ms-transform: rotate(304deg);
  transform: rotate(304deg);
}

.rot-305 {
  -webkit-transform: rotate(305deg);
  -ms-transform: rotate(305deg);
  transform: rotate(305deg);
}

.rot-306 {
  -webkit-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  transform: rotate(306deg);
}

.rot-307 {
  -webkit-transform: rotate(307deg);
  -ms-transform: rotate(307deg);
  transform: rotate(307deg);
}

.rot-308 {
  -webkit-transform: rotate(308deg);
  -ms-transform: rotate(308deg);
  transform: rotate(308deg);
}

.rot-309 {
  -webkit-transform: rotate(309deg);
  -ms-transform: rotate(309deg);
  transform: rotate(309deg);
}

.rot-310 {
  -webkit-transform: rotate(310deg);
  -ms-transform: rotate(310deg);
  transform: rotate(310deg);
}

.rot-311 {
  -webkit-transform: rotate(311deg);
  -ms-transform: rotate(311deg);
  transform: rotate(311deg);
}

.rot-312 {
  -webkit-transform: rotate(312deg);
  -ms-transform: rotate(312deg);
  transform: rotate(312deg);
}

.rot-313 {
  -webkit-transform: rotate(313deg);
  -ms-transform: rotate(313deg);
  transform: rotate(313deg);
}

.rot-314 {
  -webkit-transform: rotate(314deg);
  -ms-transform: rotate(314deg);
  transform: rotate(314deg);
}

.rot-315 {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.rot-316 {
  -webkit-transform: rotate(316deg);
  -ms-transform: rotate(316deg);
  transform: rotate(316deg);
}

.rot-317 {
  -webkit-transform: rotate(317deg);
  -ms-transform: rotate(317deg);
  transform: rotate(317deg);
}

.rot-318 {
  -webkit-transform: rotate(318deg);
  -ms-transform: rotate(318deg);
  transform: rotate(318deg);
}

.rot-319 {
  -webkit-transform: rotate(319deg);
  -ms-transform: rotate(319deg);
  transform: rotate(319deg);
}

.rot-320 {
  -webkit-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  transform: rotate(320deg);
}

.rot-321 {
  -webkit-transform: rotate(321deg);
  -ms-transform: rotate(321deg);
  transform: rotate(321deg);
}

.rot-322 {
  -webkit-transform: rotate(322deg);
  -ms-transform: rotate(322deg);
  transform: rotate(322deg);
}

.rot-323 {
  -webkit-transform: rotate(323deg);
  -ms-transform: rotate(323deg);
  transform: rotate(323deg);
}

.rot-324 {
  -webkit-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  transform: rotate(324deg);
}

.rot-325 {
  -webkit-transform: rotate(325deg);
  -ms-transform: rotate(325deg);
  transform: rotate(325deg);
}

.rot-326 {
  -webkit-transform: rotate(326deg);
  -ms-transform: rotate(326deg);
  transform: rotate(326deg);
}

.rot-327 {
  -webkit-transform: rotate(327deg);
  -ms-transform: rotate(327deg);
  transform: rotate(327deg);
}

.rot-328 {
  -webkit-transform: rotate(328deg);
  -ms-transform: rotate(328deg);
  transform: rotate(328deg);
}

.rot-329 {
  -webkit-transform: rotate(329deg);
  -ms-transform: rotate(329deg);
  transform: rotate(329deg);
}

.rot-330 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.rot-331 {
  -webkit-transform: rotate(331deg);
  -ms-transform: rotate(331deg);
  transform: rotate(331deg);
}

.rot-332 {
  -webkit-transform: rotate(332deg);
  -ms-transform: rotate(332deg);
  transform: rotate(332deg);
}

.rot-333 {
  -webkit-transform: rotate(333deg);
  -ms-transform: rotate(333deg);
  transform: rotate(333deg);
}

.rot-334 {
  -webkit-transform: rotate(334deg);
  -ms-transform: rotate(334deg);
  transform: rotate(334deg);
}

.rot-335 {
  -webkit-transform: rotate(335deg);
  -ms-transform: rotate(335deg);
  transform: rotate(335deg);
}

.rot-336 {
  -webkit-transform: rotate(336deg);
  -ms-transform: rotate(336deg);
  transform: rotate(336deg);
}

.rot-337 {
  -webkit-transform: rotate(337deg);
  -ms-transform: rotate(337deg);
  transform: rotate(337deg);
}

.rot-338 {
  -webkit-transform: rotate(338deg);
  -ms-transform: rotate(338deg);
  transform: rotate(338deg);
}

.rot-339 {
  -webkit-transform: rotate(339deg);
  -ms-transform: rotate(339deg);
  transform: rotate(339deg);
}

.rot-340 {
  -webkit-transform: rotate(340deg);
  -ms-transform: rotate(340deg);
  transform: rotate(340deg);
}

.rot-341 {
  -webkit-transform: rotate(341deg);
  -ms-transform: rotate(341deg);
  transform: rotate(341deg);
}

.rot-342 {
  -webkit-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  transform: rotate(342deg);
}

.rot-343 {
  -webkit-transform: rotate(343deg);
  -ms-transform: rotate(343deg);
  transform: rotate(343deg);
}

.rot-344 {
  -webkit-transform: rotate(344deg);
  -ms-transform: rotate(344deg);
  transform: rotate(344deg);
}

.rot-345 {
  -webkit-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  transform: rotate(345deg);
}

.rot-346 {
  -webkit-transform: rotate(346deg);
  -ms-transform: rotate(346deg);
  transform: rotate(346deg);
}

.rot-347 {
  -webkit-transform: rotate(347deg);
  -ms-transform: rotate(347deg);
  transform: rotate(347deg);
}

.rot-348 {
  -webkit-transform: rotate(348deg);
  -ms-transform: rotate(348deg);
  transform: rotate(348deg);
}

.rot-349 {
  -webkit-transform: rotate(349deg);
  -ms-transform: rotate(349deg);
  transform: rotate(349deg);
}

.rot-350 {
  -webkit-transform: rotate(350deg);
  -ms-transform: rotate(350deg);
  transform: rotate(350deg);
}

.rot-351 {
  -webkit-transform: rotate(351deg);
  -ms-transform: rotate(351deg);
  transform: rotate(351deg);
}

.rot-352 {
  -webkit-transform: rotate(352deg);
  -ms-transform: rotate(352deg);
  transform: rotate(352deg);
}

.rot-353 {
  -webkit-transform: rotate(353deg);
  -ms-transform: rotate(353deg);
  transform: rotate(353deg);
}

.rot-354 {
  -webkit-transform: rotate(354deg);
  -ms-transform: rotate(354deg);
  transform: rotate(354deg);
}

.rot-355 {
  -webkit-transform: rotate(355deg);
  -ms-transform: rotate(355deg);
  transform: rotate(355deg);
}

.rot-356 {
  -webkit-transform: rotate(356deg);
  -ms-transform: rotate(356deg);
  transform: rotate(356deg);
}

.rot-357 {
  -webkit-transform: rotate(357deg);
  -ms-transform: rotate(357deg);
  transform: rotate(357deg);
}

.rot-358 {
  -webkit-transform: rotate(358deg);
  -ms-transform: rotate(358deg);
  transform: rotate(358deg);
}

.rot-359 {
  -webkit-transform: rotate(359deg);
  -ms-transform: rotate(359deg);
  transform: rotate(359deg);
}

.rot-360 {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

#rotate-45 {
  -webkit-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
}

#rotate-90 {
  -webkit-transform: translate(-50%) rotate(90deg);
  -ms-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}

#rotate-135 {
  -webkit-transform: translate(-50%) rotate(135deg);
  -ms-transform: translate(-50%) rotate(135deg);
  transform: translate(-50%) rotate(135deg);
}

#rotate-180 {
  -webkit-transform: translate(-50%) rotate(180deg);
  -ms-transform: translate(-50%) rotate(180deg);
  transform: translate(-50%) rotate(180deg);
}

#rotate-225 {
  -webkit-transform: translate(-50%) rotate(225deg);
  -ms-transform: translate(-50%) rotate(225deg);
  transform: translate(-50%) rotate(225deg);
}

#rotate-270 {
  -webkit-transform: translate(-50%) rotate(270deg);
  -ms-transform: translate(-50%) rotate(270deg);
  transform: translate(-50%) rotate(270deg);
}

#rotate-315 {
  -webkit-transform: translate(-50%) rotate(315deg);
  -ms-transform: translate(-50%) rotate(315deg);
  transform: translate(-50%) rotate(315deg);
}

#rotate-360 {
  -webkit-transform: translate(-50%) rotate(360deg);
  -ms-transform: translate(-50%) rotate(360deg);
  transform: translate(-50%) rotate(360deg);
}

.opac-60 {
  opacity: 0.6;
}

.icon {
  position: relative;
  top: 20px;
  left: 40px;
  width: 40px;
  height: 40px;
}
.icon .one, .icon .two, .icon .three, .icon .four {
  width: 9px;
  height: 9px;
  position: absolute;
}
.icon .two, .icon .four {
  border-radius: 100%;
}
.icon .one, .icon .three {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon .one {
  left: 15px;
  background-color: #43c6e1;
}
.icon .two {
  left: 5px;
  top: 9px;
  background-color: #ff6560;
}
.icon .three {
  background-color: #f6bf4b;
  top: 18px;
  left: 15px;
}
.icon .four {
  background-color: #68a96d;
  left: 25px;
  top: 9px;
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  background-color: black;
  color: #fff3be;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}
body .header {
  left: 45px;
  width: 100%;
  position: relative;
  z-index: 100;
}
body .header .icon {
  position: absolute;
  left: 10px;
}
body .header .title {
  position: absolute;
  left: 60px;
}
body .contents {
  height: 1000px;
  margin: 25px auto;
}
body .img-container {
  width: 800px;
  height: 600px;
}
body .img-container .display-image {
  z-index: 10;
  width: 530px;
  height: 530px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
body .img-container .display-image img {
  width: 500px;
  height: 500px;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
}
body .masks {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 1500px;
}
body .masks img, body .masks .full-view {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body .masks .full-view .mask1 {
  position: absolute;
  border-left: 252px solid black;
  border-right: 252px solid transparent;
  border-bottom: 252px solid black;
  border-top: 252px solid transparent;
}
body .masks .full-view .mask2 {
  position: absolute;
  border-left: 125px solid transparent;
  border-right: 125px solid black;
  border-bottom: 125px solid transparent;
  border-top: 125px solid black;
}
body .masks .full-view .mask3 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 252px solid black;
  border-left: 252px solid transparent;
  border-bottom: 252px solid black;
  border-top: 252px solid transparent;
}
body .scope-view {
  width: 575px;
  height: 575px;
}
body .scope-view .cover {
  position: relative;
  width: 100%;
  height: 100%;
}
body .scope-view .cover .kaleiscope-gradient {
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(52%, rgba(0, 0, 0, 0.7)), color-stop(62%, black), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 52%, black 62%, black 100%);
  /* IE10+ */
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 52%, black 62%, black 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 52%, black 62%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 575px;
  height: 575px;
  display: none;
}
body .scope-view .cover .kaleiscope {
  width: 500px;
  height: 500px;
}
body .scope-view .cover .kaleiscope .img-canvas {
  width: 500px;
  height: 500px;
  position: relative;
}
body .scope-view .cover .kaleiscope .img-canvas canvas {
  position: absolute;
  top: 0;
  left: 240px;
  border-top-right-radius: 100%;
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
}
body .scope-view .cover .kaleiscope .img-canvas canvas:first-child {
  -webkit-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
}
body .work-area {
  display: none;
}
body .work-area .canvas-elem canvas {
  border-radius: 100%;
}
body .content-box {
  border-radius: 5px;
  top: 30px;
  padding: 25px 40px;
}
body .action-tab {
  display: none;
  background-color: grey;
  position: absolute;
  left: 10px;
  top: 200px;
}
